<li class="navigation__sub navigation__sub--toggled">
  <a href=""><i class="fa fa-tint"></i> General </a>
  <ul style="display: block;">
    <li><%= link_to("<i class='fa fa-music'></i> Music".html_safe, albums_path) %></li>
    <li><%= link_to("<i class='fa fa-female	'></i> Artists".html_safe, artists_path) %></li>
  </ul>
</li>

