<li class="navigation__sub navigation__sub--toggled">
  <a href=""><i class="fa fa-gear"></i> Studio Toolbelt</a>
  <ul style="display: block;">
    <li><%= link_to("<i class='fa fa-user'></i> Exports".html_safe, exports_path) %></li>
    <li><%= link_to("<i class='fa fa-music'></i> Imports".html_safe, imports_path) %></li>
  </ul>
</li>

