<div class="card" id="profile-main">
  <div class=" c-overspark " style="overspark: visible;">
    <div  tabindex="0">
      <div  dir="ltr">

        <div class="pmo-pic">
          <div class="p-relative">
            <a href="">
              <img class="img-responsive mCS_img_loaded" src=<%= asset_url("avatars/aaron-henderson") %> >
            </a>

            <div class="dropdown pmop-message">
              <a data-toggle="dropdown" href="" class="btn bgm-white btn-float z-depth-1 waves-effect waves-circle waves-float">
                <i class="zmdi zmdi-comment-text-alt"></i>
              </a>

              <div class="dropdown-menu">
                <textarea placeholder="Write something..."></textarea>

                <button class="btn bgm-green btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-mail-send"></i>
                </button>
              </div>
            </div>

            <a href="" class="pmop-edit">
              <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
            </a>
          </div>


          <div class="pmo-stat">
            <h2 class="m-0 c-white">7</h2>
            Total Connections
          </div>
        </div>

        <div class="t-view m-0">
        <ul class="tvb-stats m-20">
          </ul>
        </div>

        <div class="pmo-block pmo-contact hidden-xs">
          <h2>Contact</h2>
          <ul>
            <li><i class="zmdi zmdi-phone"></i> 678-938-5859</li>
            <li><i class="zmdi zmdi-email"></i> <%= resource.email %></li>
          </ul>
        </div>


        <div class="pmo-block pmo-contact hidden-xs">
          <h2>Mimic User ... coming soon</h2>
          <ul>
            <li><i class="zmdi zmdi-walk"></i> Mimic</li>
            <li><i class="zmdi zmdi-run"></i> BodySnatch</li>
          </ul>
        </div>


      </div>
    </div>
  </div>
</div>
