<section class="content">
  <div class="row">
    <div class="col-md-4">
      <header class="content__title">
        <h1>Users</h1>
        <small>Search and filter to find subscribers</small>
      </header>

      <div class="toolbar">
        <div class="toolbar__nav">
          <a href="">Profile</a>
          <a href="">Messages</a>
          <a href="">Settings</a>
        </div>

        <div class="actions">
          <i class="actions__item zmdi zmdi-search" data-ma-action="toolbar-search-open"></i>
          <a href="" class="actions__item zmdi zmdi-time hidden-xs-down"></a>
          <div class="dropdown actions__item hidden-xs-down">
            <i class="zmdi zmdi-sort" data-toggle="dropdown"></i>

            <div class="dropdown-menu dropdown-menu-right">
              <a href="" class="dropdown-item">Last Modified</a>
              <a href="" class="dropdown-item">Name</a>
              <a href="" class="dropdown-item">Size</a>
            </div>
          </div>
          <a href="" class="actions__item zmdi zmdi-help-outline hidden-xs-down"></a>
        </div>

        <div class="toolbar__search">
          <input type="text" placeholder="Search by user name, email, or phone ..." id="users_search">
          <i class="toolbar__search__close zmdi zmdi-long-arrow-left" data-ma-action="toolbar-search-close"></i>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Users</h2>
          <small class="card-subtitle">Search and filter to find subscribers.</small>
        </div>

        <div class="card-block">
          <table id ="user_list" class="table table-hover mb-0">

            <tbody>

            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>
