<li class="dropdown hidden-xs-down">
  <a href="" data-toggle="dropdown"><i class="zmdi zmdi-apps"></i></a>

  <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
    <div class="row app-shortcuts">

      <a class="col-6 app-shortcuts__item" >
        <i class="zmdi zmdi-developer-board bg-black"></i>
        <small class="">Playlists</small>
      </a>

      <a class="col-6 app-shortcuts__item" >
      <i class="zmdi zmdi-swap bg-green"></i>
        <small class="">iTunes Store</small>
      </a>

      <a class="col-6 app-shortcuts__item" >
        <i class="zmdi zmdi-developer-board bg-yellow"></i>
        <small class="">Spotify</small>
      </a>
      <a class="col-6 app-shortcuts__item" >
      <i class="zmdi zmdi-swap bg-orange"></i>
        <small class="">Help</small>
      </a>

    </div>
  </div>
</li>
