<section id="content">
  <div class="container">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="block-header">
      <h5>Export your Collection </h5>
      <br>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= render partial: 'artists' %>
      </div>
      <div class="col-md-4">
        <%= render partial: 'albums' %>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>

  </div>
</section>

